{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid text-white mt-5 bg-secondary">
    <h1 class="pt-2">About,</h1>
    <p>Lorem, Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi alias odit obcaecati veniam sequi. Adipisci
        distinctio porro quasi saepe dolor veniam quas fugiat id recusandae illo dignissimos ea sequi ipsa fuga neque
        minima, iusto repudiandae quis aliquid sunt est commodi animi assumenda quisquam! Veritatis exercitationem
        numquam eum quidem consequuntur possimus rem? Nihil cupiditate sit ad magni accusantium placeat? Excepturi
        reiciendis, Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas quos, molestias quo quisquam
        corporis consequuntur adipisci. Ex, assumenda. Facilis nobis libero quam distinctio, tenetur numquam aspernatur
        totam, omnis sed reiciendis laborum incidunt quidem ad. Consectetur, placeat minus non cupiditate voluptatem
        aliquid autem, qui inventore ipsam adipisci in odit accusamus similique. iusto cupiditate iure, nesciunt minus
        ipsam ab doloremque perspiciatis facere animi. Numquam,
        officia ea? Incidunt repellendus, quis at veritatis nihil quos sit eum magnam doloribus laborum recusandae saepe
        adipisci libero dolorum! Ipsam incidunt exercitationem itaque ipsum animi tempore quaerat aut. ipsum dolor sit
        amet consectetur adipisicing elit. Vero asperiores ipsum iusto odit quae hic quod suscipit delectus cupiditate
        laboriosam harum, rerum perferendis accusantium dolorem labore autem molestias sunt sit.</p>
</div>
{% endblock content %}