{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid about mt-5">
    <div class="container text-light py-2 my-5">
        <div class="py-5 my-5">
            <h1 class="display-4 fstyle">About the Team</h1>
        </div>
    </div>
</div>
<div class="container-fluid py-4 bg-secondary">
    <div class="row px-4">
        <div class="card-deck text-center">
            <div class="card shadow-lg">
                <img class="card-img-top border" src="{% static '/core/images/nayan.jpg' %}" alt="Card image cap">
                <div class="card-body">
                    <h3 class="card-title">Nayan Srivastava</h3>
                    <h4 class="text-danger">Creating Machine Learning Model</h4>
                    <div class="card-text">
                        <a href="mailto:nayansrivastava27@gmail.com">
                            <i class="fas fa-envelope fa-2x mr-2 text-success"></i>
                        </a>
                        <a href="https://www.linkedin.com/in/nayan-srivastava-725723184">
                            <i class="fab fa-linkedin fa-2x mx-2 text-primary"></i>
                        </a>
                        <a href="https://github.com/Nayan529">
                            <i class="fab fa-github fa-2x ml-2 text-dark"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="card shadow-lg">
                <img class="card-img-top border" src="{% static '/core/images/ankit.jpg' %}" alt="Card image cap">
                <div class="card-body">
                    <h3 class="card-title">Ankit Kumar Gupta</h3>
                    <h4 class="text-danger">Creating Machine Learning Model</h4>
                    <div class="card-text">
                        <a href="mailto:ankitgupta6564@gmail.com">
                            <i class="fas fa-envelope fa-2x mr-2 text-success"></i>
                        </a>
                        <a href="https://www.linkedin.com/in/ankit-gupta-02376b179">
                            <i class="fab fa-linkedin fa-2x mx-2 text-primary"></i>
                        </a>
                        <a href="https://github.com/ankit700771">
                            <i class="fab fa-github fa-2x ml-2 text-dark"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="card shadow-lg">
                <img class="card-img-top border" src="{% static '/core/images/satyam.jpeg' %}" alt="Card image cap">
                <div class="card-body">
                    <h3 class="card-title">Satyam Seth</h3>
                    <h4 class="text-danger">Deploy Machine Learning Models And Creating Website</h4>
                    <div class="card-text">
                        <a href="mailto:satyam1998.1998@gmail.com">
                            <i class="fas fa-envelope fa-2x mr-2 text-success"></i>
                        </a>
                        <a href="https://www.linkedin.com/in/satyam-seth-39069b17a">
                            <i class="fab fa-linkedin fa-2x mx-2 text-primary"></i>
                        </a>
                        <a href="https://github.com/satyam-seth">
                            <i class="fab fa-github fa-2x ml-2 text-dark"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="card shadow-lg">
                <img class="card-img-top border" src="{% static '/core/images/vilakshan.jpeg' %}" alt="Card image cap">
                <div class="card-body">
                    <h3 class="card-title">Vilaksan Mishra</h3>
                    <h4 class="text-danger">Creating Android App</h4>
                    <div class="card-text">
                        <a href="mailto:vilakshansrv@gmail.com">
                            <i class="fas fa-envelope fa-2x mr-2 text-success"></i>
                        </a>
                        <a href="https://www.linkedin.com/in/vilakshan-mishra-892167158">
                            <i class="fab fa-linkedin fa-2x mx-2 text-primary"></i>
                        </a>
                        <a href="https://github.com/Vilaksan">
                            <i class="fab fa-github fa-2x ml-2 text-dark"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row pt-md-4 px-4">
        <div class="card-deck text-center">
            <div class="card shadow-lg">
                <img class="card-img-top border" src="{% static '/core/images/smriti.jpg' %}" alt="Card image cap">
                <div class="card-body">
                    <h3 class="card-title">Smriti Verma</h3>
                    <h4 class="text-danger">Creating Desktop App GUI</h4>
                    <div class="card-text">
                        <a href="mailto:smritiverma343@gmail.com">
                            <i class="fas fa-envelope fa-2x mr-2 text-success"></i>
                        </a>
                        <a href="https://www.linkedin.com/in/smriti-verma-4aa269188">
                            <i class="fab fa-linkedin fa-2x mx-2 text-primary"></i>
                        </a>
                        <a href="https://github.com/Anshu123-dotcom">
                            <i class="fab fa-github fa-2x ml-2 text-dark"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="card shadow-lg">
                <img class="card-img-top border" src="{% static '/core/images/harshit.jpg' %}" alt="Card image cap">
                <div class="card-body">
                    <h3 class="card-title">Harshit Dixit</h3>
                    <h4 class="text-danger">Creating Project Documentation</h4>
                    <div class="card-text">
                        <a href="mailto:harshitdixit65@gmail.com">
                            <i class="fas fa-envelope fa-2x mr-2 text-success"></i>
                        </a>
                        <a href="https://www.linkedin.com/in/harshit-dixit-38b27a149">
                            <i class="fab fa-linkedin fa-2x mx-2 text-primary"></i>
                        </a>
                        <a href="https://github.com/harshitdixit69">
                            <i class="fab fa-github fa-2x ml-2 text-dark"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="card shadow-lg">
                <img class="card-img-top border" src="{% static '/core/images/pragya.jpeg' %}" alt="Card image cap">
                <div class="card-body">
                    <h3 class="card-title">Pragya Mishra</h3>
                    <h4 class="text-danger">Creating Project Documentation</h4>
                    <div class="card-text">
                        <a href="mailto:mishrapragya2038@gmail.com">
                            <i class="fas fa-envelope fa-2x mr-2 text-success"></i>
                        </a>
                        <a href="https://www.linkedin.com/in/pragya-mishra-47b2721b0">
                            <i class="fab fa-linkedin fa-2x mx-2 text-primary"></i>
                        </a>
                        <a href="https://github.com/">
                            <i class="fab fa-github fa-2x ml-2 text-dark"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="card shadow-lg">
                <img class="card-img-top border" src="{% static '/core/images/abhishek.jpg' %}" alt="Card image cap">
                <div class="card-body">
                    <h3 class="card-title">Abhishek Kumar Yadav</h3>
                    <h4 class="text-danger">Project Testing</h4>
                    <div class="card-text">
                        <a href="mailto:abhi991926@gmail.com">
                            <i class="fas fa-envelope fa-2x mr-2 text-success"></i>
                        </a>
                        <a href="https://www.linkedin.com/in/abhishek-kumar-yadav-780262194">
                            <i class="fab fa-linkedin fa-2x mx-2 text-primary"></i>
                        </a>
                        <a href="https://github.com/Abhishek991926">
                            <i class="fab fa-github fa-2x ml-2 text-dark"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="card shadow-lg">
                <img class="card-img-top border" src="{% static '/core/images/ravi.jpg' %}" alt="Card image cap">
                <div class="card-body">
                    <h3 class="card-title">Ravi Johari</h3>
                    <h4 class="text-danger">Project Testing</h4>
                    <div class="card-text">
                        <a href="mailto:johariravi81@gmail.com">
                            <i class="fas fa-envelope fa-2x mr-2 text-success"></i>
                        </a>
                        <a href="https://www.linkedin.com/in/ravi-johari-337b16193">
                            <i class="fab fa-linkedin fa-2x mx-2 text-primary"></i>
                        </a>
                        <a href="https://github.com/Ravi024">
                            <i class="fab fa-github fa-2x ml-2 text-dark"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
