{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid admission mt-5">
    <div class="container text-light my-5">
        <div class="py-5 my-5">
            <h1 class="display-4 fstyle">Admission Prediction</h1>
        </div>
    </div>
</div>
<div class="container-fluid text-white bg-secondary">
    <div class="container text-center mt-4">
        {% if result > 50 %}
            <h1 class="alert alert-success shadow-lg fstyle" style="font-size:4vw">Your Chance of Admission is <b>{{result}}</b>%</h1>
        {% else %}
            <h1 class="alert alert-danger shadow-lg fstyle" style="font-size:4vw">Your Chance of Admission is <b>{{result}}</b>%</h1>
        {% endif %}
        <div class="shadow-lg p-4 mb-5 rounded border bg">
            <h1 class="text-center alert alert-secondary fstyle" style="font-size:4vw"><b>Your Details</b></h1>
            <table class="table table-hover text-white text-center">
                <tbody>
                <tr>
                    <th scope="row">GRE Score</th>
                    <td>{{gre}}</td>
                </tr>
                <tr>
                    <th scope="row">TOEFL Score</th>
                    <td>{{toefl}}</td>
                </tr>
                <tr>
                    <th scope="row">University Rating</th>
                    <td>{{uni_rating}}</td>
                </tr>
                <tr>
                    <th scope="row">Statement of Purpose Rating</th>
                    <td>{{sop}}</td>
                </tr>
                <tr>
                    <th scope="row">Letter of Recommendation</th>
                    <td>{{lor}}</td>
                </tr>
                <tr>
                    <th scope="row">CGPA</th>
                    <td>{{cgpa}}</td>
                </tr>
                <tr>
                    <th scope="row">Research Experience</th>
                    {% if research == '1' %}
                        <td>Yes</td>
                    {% else %}
                        <td>No</td>
                    {% endif %}
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}