<footer class="container-fluid p-0">
    <div class="bg-dark text-center p-1 text-white">
        <div class="pt-1">
            <a href="mailto:predictor004@gmail.com" target="_blank"><i class="fas fa-envelope fa-2x m-1 text-white"></i></a>
            <a href="https://www.facebook.com/ThePredictor01" target="_blank"><i class="fab fa-facebook fa-2x m-1 text-white"></i></a>
            <a href="https://www.linkedin.com/in/the-predictor-b921b21b4" target="_blank"><i class="fab fa-linkedin fa-2x m-1 text-white"></i></a>
            <a href="https://www.youtube.com/channel/UCTTbLZ2zPQQddhV4CL61j3g" target="_blank"><i class="fab fa-youtube fa-2x m-1 text-white"></i></a>
            <a href="https://github.com/satyam-seth/mic" target="_blank"><i class="fab fa-github fa-2x m-1 text-white"></i></a>
        </div>
        <p>Copyright &#169; 2020-21 The Predictor</p>
    </div>
</footer>
