{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid text-white mt-5 bg-secondary">
    <h1>Home</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero asperiores ipsum iusto odit quae hic quod suscipit
        delectus cupiditate laboriosam harum, rerum perferendis accusantium dolorem labore autem molestias sunt sit.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero asperiores ipsum iusto odit quae hic quod suscipit
        delectus cupiditate laboriosam harum, rerum perferendis accusantium dolorem labore autem molestias sunt sit.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero asperiores ipsum iusto odit quae hic quod suscipit
        delectus cupiditate laboriosam harum, rerum perferendis accusantium dolorem labore autem molestias sunt sit.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero asperiores ipsum iusto odit quae hic quod suscipit
        delectus cupiditate laboriosam harum, rerum perferendis accusantium dolorem labore autem molestias sunt sit.</p>

    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero asperiores ipsum iusto odit quae hic quod suscipit
        delectus cupiditate laboriosam harum, rerum perferendis accusantium dolorem labore autem molestias sunt sit.</p>

    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero asperiores ipsum iusto odit quae hic quod suscipit
        delectus cupiditate laboriosam harum, rerum perferendis accusantium dolorem labore autem molestias sunt sit.</p>
</div>
{% endblock content %}