{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<header class="mt-5">
    <div class="container-fluid">
        {% if messages %}
        {% for message in messages %}
        <div {% if message.tags %} class="row alert alert-{{message.tags}} mb-0 alert-dismissible fade show" {% endif %} role="alert">
            <strong>{{message}}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
        {% endif %}
    </div>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <img src="{% static 'core/images/slider1.jpg' %}" class="d-block w-100" alt="Not Available">
                <div class="carousel-caption d-none d-md-block">
                    <h3 style="font-size: 4vw; text-shadow: 2px 2px black;">Loan Prediction</h3>
                    <p style="font-size: 2vw; text-shadow: 2px 2px black;">Want a loan to kick start your Business?</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'core/images/slider2.jpg' %}" class="d-block w-100" alt="Not Available">
                <div class="carousel-caption d-none d-md-block">
                    <h3 style="font-size: 4vw; text-shadow: 2px 2px black;">Admission Prediction</h3>
                    <p style="font-size: 2vw; text-shadow: 2px 2px black;">Admission in a foreign university is your dream?</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'core/images/slider3.jpg' %}" class="d-block w-100" alt="Not Available">
                <div class="carousel-caption d-none d-md-block">
                    <h3 style="font-size: 4vw; text-shadow: 2px 2px black;">Spam Email Checker</h3>
                    <p style="font-size: 2vw; text-shadow: 2px 2px black;">We Verify your emails and prevent you from falling in the Trap of fraudsters.</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</header>
<div class="container-fluid bg-secondary">
    <div class="row my-4 text-center">
        <div class="col-4">
            <img class="border rounded img-fluid shadow-lg" src="{% static 'core/images/one.png' %}" alt="loan">
        </div>
        <div class="col-4">
            <img class="border rounded img-fluid shadow-lg" src="{% static 'core/images/two.png' %}" alt="loan">
        </div>
        <div class="col-4">
            <img class="border rounded img-fluid shadow-lg" src="{% static 'core/images/three.png' %}" alt="loan">
        </div>
    </div>
    <div class="jumbotron mx-3 px-4 my-4 border rounded shadow-lg cfstyle" style="background-color: #75706B;">
        <h1 style="text-shadow: 2px 2px black;" class="text-light"><i class="fas fa-hand-point-right"></i> Difficult time eh?</h1>
        <h1 style="text-shadow: 2px 2px black;" class="text-light"><i class="fas fa-hand-point-right"></i> Admission in a foreign university is your dream?</h1>
        <h1 style="text-shadow: 2px 2px black;" class="text-light"><i class="fas fa-hand-point-right"></i> Want a loan to kick start your Business?</h1>
        <h1 style="text-shadow: 2px 2px black;" class="text-light"><i class="fas fa-hand-point-right"></i> Affraid of email scams?</h1>
        <h4 class="pl-2 text-light">A one step solution for all your needs. <b style="text-shadow: 1px 1px black;">THE PREDICTOR</b> is a tool that can solve all your queries in a minute.</h4>
        <h4 class="pl-2 text-light">To get your loan Amount to Kick start your  dream Business.</h4>
        <h4 class="pl-2 text-light">To get Admission in your Dream university.</h4>
        <h4 class="pl-2 text-light">We Verify your emails and prevent you from falling in the Trap of fraudsters.</h4>
    </div>
    <div class="jumbotron mx-3 px-4 mb-4 border rounded shadow-lg" style="background-color: #75706B;">
        <h1 style="text-shadow: 2px 2px black;" class="text-light">Remember:-</h1>
        <h4 class="pl-2 text-light"><i>We do not help you get an Admission or loan.</i></h4>
        <h4 class="pl-2 text-light"><i>We just guide to you to save your valuable time and money in to useless opportunities and rather focus yourself if into most suitable.</i></h4>
    </div>
</div>
{% endblock content %}