{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid text-white mt-5 bg-secondary">
    <div class="container mt-4">
        <h1 class="alert alert-success text-center mt-2 shadow-lg" style="font-size:5vw">Input Data for Loan Prediction</h1>
        <div class="shadow-lg p-4 mb-5 rounded border">
            <form class="mt-4" method="POST" action="{% url 'loanpred' %}">
                <div class="form-row">
                    {% csrf_token %}
                    <div class="form-group col-md-6">
                        <label for="gender">Gender</label>
                        <select name="gender" class="form-control" id="gender" required>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="married">Married</label>
                        <select name="married" class="form-control" id="married" required>
                            <option value="Yes">Yes</option>
                            <option value="No">No</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="dependents">Dependents</label>
                        <select name="dependents" class="form-control" id="dependents" required>
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="2">3</option>
                            <option value="1">4</option>
                            <option value="1">5</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="education">education</label>
                        <select name="education" class="form-control" id="education" required>
                            <option value="Graduate">Graduate</option>
                            <option value="Not Graduate">Not Graduate</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="SelfEmp">Self Employed</label>
                        <select name="SelfEmp" class="form-control" id="SelfEmp" required>
                            <option value="Yes">Yes</option>
                            <option value="No">No</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="ApplicantIncome">Applicant Income</label>
                        <input type="number" class="form-control" name="ApplicantIncome" id="ApplicantIncome"
                            placeholder="your income" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="coApplicantIncome">Co-Applicant Income</label>
                        <input type="number" class="form-control" name="coApplicantIncome" id="ApplicantIncome"
                            placeholder="your co-applicant income" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="LoanAmount">Loan Amount</label>
                        <input type="number" class="form-control" name="LoanAmount" id="LoanAmount"
                            placeholder="your loan amount" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="LoanAmountTerm">Loan Amount Term</label>
                        <input type="number" class="form-control" name="LoanAmountTerm" id="LoanAmountTerm"
                            placeholder="your amount term" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="CreditHistory">Credit History</label>
                        <select name="CreditHistory" class="form-control" id="CreditHistory" required>
                            <option value="1">Good</option>
                            <option value="0">Bad</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="pr-3">Property Area</label><br class="d-md-none">
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadioInline1" name="PropertyArea" value="Urban"
                            class="custom-control-input" required>
                        <label class="custom-control-label" for="customRadioInline1">Urban</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadioInline2" name="PropertyArea" value="Rural"
                            class="custom-control-input">
                        <label class="custom-control-label" for="customRadioInline2">Rural</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadioInline3" name="PropertyArea" value="Semiurban"
                            class="custom-control-input">
                        <label class="custom-control-label" for="customRadioInline3">Semiurban</label>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Predict</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}