{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid loan mt-5">
    <div class="container text-light my-5">
        <div class="py-5 my-5">
            <h1 class="display-4 fstyle">Loan Prediction</h1>
        </div>
    </div>
</div>
<div class="container-fluid text-white bg-secondary">
    <div class="container pt-4">
        <h1 class="alert alert-success text-center mt-2 shadow-lg fstyle" style="font-size:5vw">Input Data for Loan Prediction
        </h1>
        <div class="shadow-lg p-4 mb-5 rounded border bg">
            <form class="mt-4" method="POST" action="{% url 'loanpred' %}">
                <div class="form-row">
                    {% csrf_token %}
                    <div class="form-group col-md-6">
                        <label class="fstyle" for="gender">Gender</label>
                        <select name="gender" class="form-control" id="gender" required>
                            <option value="" disabled selected>Select</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="fstyle" for="married">Married</label>
                        <select name="married" class="form-control" id="married" required>
                            <option value="" disabled selected>Select</option>
                            <option value="Yes">Yes</option>
                            <option value="No">No</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="fstyle" for="dependents">Dependents</label>
                        <select name="dependents" class="form-control" id="dependents" required>
                            <option value="" disabled selected>Select</option>
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="2">3</option>
                            <option value="1">4</option>
                            <option value="1">5</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="fstyle" for="education">Education</label>
                        <select name="education" class="form-control" id="education" required>
                            <option value="" disabled selected>Select</option>
                            <option value="Graduate">Graduate</option>
                            <option value="Not Graduate">Not Graduate</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="fstyle" for="SelfEmp">Self Employed</label>
                        <select name="SelfEmp" class="form-control" id="SelfEmp" required>
                            <option value="" disabled selected>Select</option>
                            <option value="Yes">Yes</option>
                            <option value="No">No</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="fstyle" for="ApplicantIncome">Applicant Income</label>
                        <input type="number" class="form-control" name="ApplicantIncome" id="ApplicantIncome"
                            placeholder="salary in thousand" min="0" max="100000" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="fstyle" for="coApplicantIncome">Co-Applicant Income</label>
                        <input type="number" class="form-control" name="coApplicantIncome" id="ApplicantIncome"
                            placeholder="co-applicant salary in thousand" min="0" max="100000" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="fstyle" for="LoanAmount">Loan Amount</label>
                        <input type="number" class="form-control" name="LoanAmount" id="LoanAmount"
                            placeholder="your loan amount in thousand" min="1" max="500" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="fstyle" for="LoanAmountTerm">Loan Amount Term</label>
                        <input type="number" class="form-control" name="LoanAmountTerm" id="LoanAmountTerm"
                            placeholder="term in months" min="1" max="360" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="fstyle" for="CreditHistory">Credit History</label>
                        <select name="CreditHistory" class="form-control" id="CreditHistory" required>
                            <option value="" disabled selected>Select</option>
                            <option value="1">Good</option>
                            <option value="0">Bad</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="fstyle" class="pr-3">Property Area</label><br class="d-md-none">
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadioInline1" name="PropertyArea" value="Urban"
                            class="custom-control-input" required>
                        <label class="custom-control-label" for="customRadioInline1">Urban</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadioInline3" name="PropertyArea" value="Semiurban"
                            class="custom-control-input">
                        <label class="custom-control-label" for="customRadioInline3">Semiurban</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadioInline2" name="PropertyArea" value="Rural"
                            class="custom-control-input">
                        <label class="custom-control-label" for="customRadioInline2">Rural</label>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Predict</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}